body {
    margin: 0;
    padding: 0;
    
    background: #23223D;
}


#sequencer-matrix table {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    
    table-layout: fixed;
}

#sequencer-matrix table td {
    padding: 5px;
}

#sequencer-matrix .cell {
    width: 100%;
    height: 100%;
    
    /*border-radius: 15%;*/
        
    background: #2E2D4C;
    
    /*box-shadow: 0 0 10px rgba(255, 255, 255, 0.15), inset 0 0 30px rgba(0, 0, 0, 0.3);*/
}

#sequencer-matrix .cell.current-beat {
    background: #3E3D67;
}

#sequencer-matrix .cell.on {
    background: #616098;
    
    /*box-shadow: 0 0 15px rgba(255, 255, 255, 0.7), inset 0 0 30px rgba(0, 0, 0, 0.3);*/
}
