<html ng-app="sequencer">
    <head>
        <title>Sequencer</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js" charset="utf-8"></script>
        
        <script src="js/audio-cell.js" charset="utf-8"></script>
        <script src="js/sequencer-matrix.js" charset="utf-8"></script>
        
        <script src="js/app.js" charset="utf-8"></script>
        
        <script src="js/services/scale.js" charset="utf-8"></script>
        <script src="js/services/instrument.service.js"></script>
        
        <script src="js/filters/decibel.filter.js"></script>
        
        <script src="js/directives/decibel-input.directive.js"></script>
        
        <script src="js/controllers/main.js" charset="utf-8"></script>
        
        <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
        
        <link rel="stylesheet" href="css/synth-icons.css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    </head>
    
    <body>
        <div id="main-container" ng-controller="MainCtrl as mainCtrl">
            <div id="tabs-container">
                <div class="tab"
                    ng-class="{'current-tab': matrix === mainCtrl.currentMatrix}"
                    ng-repeat="matrix in mainCtrl.matrices"
                    ng-click="mainCtrl.setCurrentMatrix(matrix)">
                    
                    <p>{{matrix.name}}</p>
                    <a href="" ng-click="mainCtrl.deleteMatrix($index)" ng-if="mainCtrl.matrices.length > 1">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                
                <div class="tab add-tab">
                    <a href="" ng-click="mainCtrl.addMatrix()"><i class="fa fa-plus"></i></a>
                </div>
            </div>
            
            <div id="matrix-container" ng-mouseleave="mainCtrl.mouseDown = false">
                <table cellspacing="0" id="sequencer-matrix">
                    <tbody>
                        <tr ng-repeat="note in mainCtrl.currentMatrix.scale | orderBy:'freq':true">
                            <td ng-repeat="beat in mainCtrl.beats track by $index"
                                ng-mouseup="mainCtrl.mouseDown = false"
                                ng-class="{'bar-even': mainCtrl.Math.floor($index / mainCtrl.beatsPerBar) % 2 === 0}">
                                
                                <div class="master-cell">
                                    <div class="cell"
                                        ng-repeat="subCell in mainCtrl.currentMatrix.getAudioCell($index, note) track by $index"
                                        ng-mousedown="mainCtrl.handleMouseDown($event, $parent.$index, note, $index)"
                                        ng-mouseup="mainCtrl.mouseDown = false"
                                        ng-mouseenter="mainCtrl.handleMouseEnter($event, $parent.$index, note, $index)"
                                        ng-class="{'current-beat': $parent.$index === mainCtrl.currentMatrix.currentBeat,
                                            'on': subCell !== null}">
                                            
                                        <span class="note-name">{{note.name}}</span>
                                    </div>    
                                </div>
                                
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <div id="tools-container">
                <div id="playback-controls" class="control-group">
                    <a href="" ng-click="mainCtrl.start()" ng-class="{'disabled-true': mainCtrl.playing}"><i class="fa fa-play fa-2x"></i></a>
                    <a href="" ng-click="mainCtrl.stop()" ng-class="{'disabled-true': !mainCtrl.playing}"><i class="fa fa-stop fa-2x"></i></a>
                </div>
                
                <div class="control-group">
                    <form class="control-form">
                        <button ng-click="mainCtrl.togglePopup('global')">GLOBAL SETTINGS</button>
                        <button ng-click="mainCtrl.togglePopup('matrix')">MATRIX</button>
                        <button ng-click="mainCtrl.togglePopup('mixer')">MIXER</button>
                    </form>
                </div>
                
                <div class="settings-popup" ng-show="mainCtrl.showPopup.global">
                    <h2>GLOBAL SETTINGS</h2>
                    
                    <div class="control-group">
                        <form class="control-form">
                            <label for="bpm">
                                BPM:
                                <input type="number" id="bpm" class="short" ng-model="mainCtrl.bpm" ng-change="mainCtrl.bpmChanged()">
                            </label>                 
                        </form>    
                    </div>
                </div>
                
                <div id="matrix-popup" class="settings-popup" ng-show="mainCtrl.showPopup.matrix">
                    <div id="instrument-selection" class="settings-popup-section">
                        <h3>INSTRUMENT</h3>
                    </div>
                    
                    <form class="pure-form pure-form-aligned control-form" ng-submit="mainCtrl.generateNewScale()">
                        <fieldset>
                            <legend>GENERATE SCALE</legend>
                            
                            <div class="pure-control-group">
                                <label for="scale-key">SCALE:</label>
                                <select id="scale-key" ng-model="mainCtrl.newScale.key"
                                    ng-options="scale.key as scale.name for scale in mainCtrl.availableScales | orderBy:'name'">
                                    
                                </select>
                            </div>
                            
                            <div class="pure-control-group">
                                <label for="scale-start-note-name">KEY:</label>
                                <input type="text" id="scale-start-note-name" class="short" ng-model="mainCtrl.newScale.startNote.name" required>
                            </div>
                            
                            <div class="pure-control-group">
                                <label for="scale-start-note-octave">OCTAVE:</label>
                                <input type="number" id="scale-start-note-octave" class="short" ng-model="mainCtrl.newScale.startNote.octave" required>
                            </div>
                            
                            <div class="pure-control-group">
                                <label for="scale-octaves"># OCTAVES:</label>
                                <input type="number" id="scale-octaves" class="short" ng-model="mainCtrl.newScale.octaves">
                            </div>
                            
                            <div class="pure-controls">
                                <button type="submit">GENERATE</button>
                            </div>
                        </fieldset>
                    </form>
                
                    <form class="pure-form pure-form-aligned control-form" ng-submit="mainCtrl.lengthChanged()">
                        <fieldset>
                            <legend>PAGE SIZE</legend>
                            
                            <div class="pure-control-group">
                                <label for="bars">BARS:</label>
                                <input type="number" id="bars" class="short" ng-model="mainCtrl.newBars" ng-model-options="{updateOn: 'blur'}" ng-change="mainCtrl.lengthChanged()">    
                            </div>
                            
                            <div class="pure-control-group">
                                <label for="beats-per-bar">BEATS / BAR:</label>
                                <input type="number" id="beats-per-bar" class="short" ng-model="mainCtrl.newBeatsPerBar" ng-model-options="{updateOn: 'blur'}" ng-change="mainCtrl.lengthChanged()">
                            </div>
                            
                            <input type="submit" class="hidden">
                        </fieldset>
                    </form>    
                    
                    <form class="pure-form pure-form-stacked control-form">
                        <fieldset>
                            <legend>MISC.</legend>
                            
                            <button ng-click="mainCtrl.clear()">CLEAR</button>
                        </fieldset>
                    </form>
                </div>
                
                <div id="mixer-popup" class="settings-popup" ng-show="mainCtrl.showPopup.mixer">
                    <div class="channel-strip"
                        ng-repeat="matrix in mainCtrl.matrices"
                        ng-class="{'channel-strip-selected': matrix === mainCtrl.currentMatrix}">
                        <p>{{matrix.name}}</p>
                        
                        <input type="range" 
                            class="mixer-slider" 
                            min="-30" 
                            max="6" 
                            step="0.01"
                            orient="vertical" 
                            ng-disabled="matrix.muted"
                            ng-model="matrix.volume.gain.value" 
                            decibel-input>
                        
                        <p>{{matrix.volume.gain.value | toDecibels | number:2}} dB</p>
                        <p class="mute-button">
                            <a href="" ng-click="matrix.toggleMute()">
                                <i class="fa" ng-class="{'fa-volume-up': !matrix.muted, 'fa-volume-off': matrix.muted}"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>