<html ng-app="sequencer">
    <head>
        <title>Sequencer</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.js" charset="utf-8"></script>
        
        <script src="js/audio-cell.js" charset="utf-8"></script>
        
        <script src="js/app.js" charset="utf-8"></script>
        
        <script src="js/services/scale.js" charset="utf-8"></script>
        
        <script src="js/controllers/main.js" charset="utf-8"></script>
        
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="css/main.css" media="screen" title="no title" charset="utf-8">
    </head>
    
    <body>
        <div id="sequencer-matrix" ng-controller="MainCtrl as mainCtrl">
            <table cellspacing="0">
                <tbody>
                    <tr ng-repeat="note in mainCtrl.scale | orderBy:'freq':true">
                        <td ng-repeat="beat in mainCtrl.getBeats() track by $index"
                            ng-click="mainCtrl.toggleAudioCell($index, note)"
                            ng-class="{'bar-even': mainCtrl.Math.floor($index / mainCtrl.beatsPerBar) % 2 === 0}">
                            
                            <div class="cell"
                                ng-class="{'current-beat': $index === mainCtrl.currentBeat,
                                    'on': mainCtrl.getAudioCell($index, note) !== null}">
                            </div>
                            
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="playback-controls">
                <a href="" ng-click="mainCtrl.start()" ng-class="{'disabled-true': mainCtrl.playing}"><i class="fa fa-play fa-2x"></i></a>
                
                <a href="" ng-click="mainCtrl.stop()" ng-class="{'disabled-true': !mainCtrl.playing}"><i class="fa fa-stop fa-2x"></i></a>
                
                <a href="" ng-click="mainCtrl.clear()"><i class="fa fa-times fa-2x"></i></a>
            </div>            
        </div>
    </body>
</html>